body{
    background-color: rgb(181, 245, 224);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 20%;
}
P{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Profile{
    color: blue;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Name{
    color: blueviolet;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Email{
    color: blueviolet;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Backgroud{
    width: 70%;

}
